<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-left text-muted">
        <p>BSides Oslo is a independent, community-driven inclusive information security conference. A part of the global Security BSides network, the conference creates a space for members of the information security community to come together and share their knowledge and experiences. BSides Oslo is intended for anyone working with, studying with or is interested in security.</p>

	<p>BSides Oslo 2023 will be the fourth, and the third physical event. Websites for previous events are available <a href="https://archive.bsidesoslo.no">here</a>.</p>
	<p>As an event for the community, all talks at our conferences are recorded and available on <a href="{{ site.youtube_channel }}">YouTube</a></p>
	<p>BSides Oslo is a non-profit conference, and there are still some sponsor opportunities. For more information, please review <a href="/#sponsors">the sponsorship section</a>.
        </p>
      </div>
    </div>
  </div>
</section>
