<section id="cfp">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Call for presenters</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10  col-lg-offset-1 text-left text-muted">
	      <p class="large">BSides Oslo 2023 will be held at {{ site.date }} and we are calling for presenters. Our <a href="{{ site.cfp.form }}">CFP is open</a> until <b>{{ site.cfp.deadline }}</b>.</p>
	      
	      <p class="large">We love to see brand new speakers, seasoned speakers, and everyone in between! A presention can be either 20 or 45 minutes long. Topics of interest include (but are in no way limited to) the following, preference given to talks that actually provide solutions as well as insight to problems:</p>
        <ul> 
          <li>Information technology</li>
          <li>Network security</li>
          <li>Web Application security</li>
          <li>AI as a tool</li>
          <li>Attacking AI</li>
          <li>Cloud Native hacking</li>
          <li>Mobile security</li>
          <li>Bug Bounty Hunting</li>
          <li>Virtualization and cloud computing</li>
          <li>Innovative attack / defense strategies</li>
          <li>Forensics / Malware</li>
          <li>Embedded device security / Internet of things</li>
          <li>Biometrics</li>
          <li>Hardware hacking</li>
          <li>Phone phreaking</li>
          <li>Biohacking</li>
          <li>Open source software</li>
          <li>Evolutionary computing</li>
          <li>Robotics (bonus points for bringing an actual robot)</li>
          <li>Massive abuse of technology</li>
        </ul>
        <p class="large">You can submit your proposal using our <a href="{{ site.cfp.form }}">submission form</a> until <b>{{ site.cfp.deadline }}</b>. For any questions regarding the CFP, contact <a href="mailto:{{ site.emails.cfp }}">{{ site.emails.cfp }}</a>.</p>
      </div>
    </div>
  </div>
</section>
