<!DOCTYPE html>
<html>

  {% include head.html %}
    <body id="page-top" class="index">
    {% include splash.html %}
    {% include navigation.html %}
    {% if site.sections.speakers == true %}
    {% include talks.html %}
    {% endif %}
    {% include ctf.html %}
    {% if site.sections.cfp == true %}
    {% include cfp.html %}
    {% endif %}
    {% include sponsors.html %}
    {% include about.html %}
    {% include team.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
